[2021-10-18 07:38] ArunGust opened #10 "there is no reactor running, must be called from the context of a Tokio 1.x runtime"
I got below error when calling from actix web request. Any idea  ?

thread 'actix-rt:worker:0' panicked at 'there is no reactor running, must be called from the context of a Tokio 1.x runtime', D:\RUST\CARGO\registry\src\github.com-1ecc6299db9ec823\fred-4.2.0\src\client.rs:179:5

[2021-10-27 14:38] mkurtak opened #11 "PUBLISH is called on random node when used inside MULTI within the cluster"
Hi,
Running MULTI, SET, PUBLISH, and EXEC (in that order) on 3 nodes Redis cluster is not always atomically executed. PUBLISH is not executed on the same node as MULTI, therefore it is not queued.

I believe that it is caused by the fact that fred considers PUBLISH as "non cluster" command and executes it on the random node.

[code]

[2021-11-01 05:04] #11 closed

[2021-11-17 16:10] dbstratta opened #13 "Client not responding"
# Description

Hi! Thanks for the awesome library.

I'm having a problem with the Redis client getting stuck before sending the command to the Redis server (it happens with any command).
This is happening in a `Stream`, but didn't try to replicate outside of one.

The pattern of getting stuck is random, sometimes it runs for tens of stream values and gets stuck and other times it gets stuck on the

[2021-11-17 17:11] aembke commented on #13
Thanks for filing a great bug repro @dbstratta .

I tried to repro this locally and unfortunately I wasn't able to reproduce it. That being said, I had to make some changes to your code, including a change to the type of `Stream` that is used.

This was the code I used:

[code]

The most notable change is the switch from the `StreamExt` trait from `tokio_stream` to the `Stream` trait from the `fut

[2021-11-17 17:35] dbstratta commented on #13
Thank you for your quick reply!

Yes, some changes were needed to the repro code, I'm sorry for that.

I tried to reproduce it with the updated example and couldn't either. Earlier I was using a slightly modified version of it, in a subscription handler of [`async_graphql`](https://github.com/async-graphql/async-graphql).

I'm going to try to see how `async_graphql` handles streams, but I'm positi

[2021-11-17 17:41] aembke commented on #13
I just took a look at the tokio-stream docs and one thing jumped out at me here: https://docs.rs/tokio-stream/0.1.8/tokio_stream/#iterating-over-a-stream

It might be worth trying to use `while let` instead of `for ... in`, or switching to the `Stream` trait from `futures` which doesn't seem to have that limitation.

[2021-11-17 17:44] dbstratta commented on #13
You're right. I updated the example above with `while let`.

[2021-11-17 17:45] aembke commented on #13
This is a good callout though. I'm going to update the docs to make it more clear which `Stream` trait is returned, since this seems like a really easy hole to fall into. I'm not sure why there's several different `Stream` options, but the docs should make it more clear which ones fred uses, and how to avoid issues like this.

[2021-11-17 17:46] dbstratta commented on #13
I think the `Stream` from `tokio_stream` is just a reexport from `futures`, although the `StreamExt` traits are different.

[2021-11-17 18:52] dbstratta commented on #13
I took a look at the `async_graphql` stream code and couldn't find anything suspicious.

I kept trying things and I noticed that when I disable pipelining the client doesn't get stuck.

[2021-11-17 22:30] aembke commented on #13
Huh that's odd. I tried your updated repro code (only adding an import for `pin_mut`) in a script for the last few hours and haven't been able to repro it (with pipelining enabled).

Can you try adding `RUST_LOG=fred=trace` to your repro and send over the trace logs?

[2021-11-18 00:12] dbstratta commented on #13
I couldn't reproduce it with the code from the original comment either, although it keeps happening in the `async_graphql` subscription if I enable pipelining.

I'll send the logs later today.

[2021-11-18 03:58] dbstratta commented on #13
This is a log leading to a halt. It was using a `StaticRedisPool` of 2 clients to make the logs less verbose, but it happens with more clients too. I logged the timeout errors too (timeout was 1 second, not reachable in normal circumstances on my machine).

[code]

After this point there were no more logs and no more communication to the Redis server.

I started the stream again and the first batc

[2021-11-18 04:21] aembke commented on #13
Ah ok that's interesting. The beginning of the first set of logs you sent probably contain the same `WARN` log as well, which would explain things.

The way this works under the hood is that each time you send a command fred creates a `RedisCommand` struct that has a field on it called `tx` which is a [futures::channel::oneshot::Sender](https://docs.rs/futures/0.3.17/futures/channel/oneshot/struct

[2021-11-18 04:56] aembke commented on #13
Oh.... https://github.com/tokio-rs/tokio/releases/tag/tokio-1.13.1

[2021-11-18 16:04] dbstratta commented on #13
What a coincidence! :joy:

Although I updated `tokio` to `1.14.0` and the problem kept happening. Regarding your previous comment, I'm not getting the `note: futures do nothing unless you .await or poll them` message.

What makes me think that the `pool.get(...)` future is not being dropped is that if it was then I'd have a similar problem when I disable pipelining, but I don't. What do you think?

[2021-11-18 20:22] aembke commented on #13
Ah damn, that's too bad. Yeah I can't imagine why pipelining would affect this since from the logs you showed the request is sent and the response is received even when pipelining is enabled, and all the non-pipeline logic happens before that point. I also have a test harness that covers pretty much everything in the client and runs all the tests several times with both pipelined and non-pipelined

[2021-11-19 03:52] dbstratta commented on #13
Sure, I'll send you a repro with the graphql code tomorrow.

[2021-11-19 20:30] dbstratta commented on #13
Here's the minimal code I could reproduce the issue with:

[code]

With `Cargo.toml`:

[code]

Go to http://localhost:4000/graphql, in the playground enter and start the subscription (with the play button):

[code]

That will start the stream and start responding (on the right panel of the playground) with:

[code]

Let it be subscribed for 10 seconds, stop it (with the stop button in the playgrou

[2021-11-20 02:11] DnMllr opened #14 "Intermittent failure to connect with wait_for_connect on StaticPool"
Hello, I have written a test using [testcontainer](https://github.com/testcontainers/testcontainers-rs) with the following code and I'm seeing an error of: `Redis Error - kind: Unknown, details: Redis connection is not initialized` every once in a while. For the most part it works fine, but sometimes that `.expect` fails at the call to `.ping`. It seemed to me that the rate of failure decreased wi

[2021-11-21 04:09] aembke commented on #14
Hi @DnMllr, thanks for looking into this. Some of the pooling code looks suspect so I'm guessing you're right about there being some inconsistent behavior here. I'll take a look this weekend and update here shortly. This may also be related to https://github.com/aembke/fred.rs/issues/13

[2021-11-30 16:59] aembke commented on #14
Hi @DnMllr, I just merged some changes that should address this. The issue was in the implementation for the static pool `wait_for_connect` as you suspected. I was able to repro the issue in the tests and after these changes the issue no longer repro's for me.

I'll wait to close this until you have a chance to check on your side though.

[2021-11-30 17:56] aembke commented on #13
Hi @dbstratta

First off thanks a lot for taking the time to write all that up.

I tried your example and was able to successfully repro the issue with 4.2.1 of fred after a few tries, but I did also have to change the actix version to `4.0.0-beta.13` from `4.0.0-beta.11` since apparently some intermediate imports in the dependency chain had changed. I doubt that affects anything, but figured I'd

[2021-11-30 22:15] aembke commented on #13
Hi @dbstratta

I have some good news and some bad news, depending on how you look at it. The good news is that I was able to repro this issue without fred in play at all, and the bad news is that I think this is an actix issue. Given that they're still in beta for 4.x that may be somewhat expected, but unfortunately means I can't help too much here.

The logs from your original repro showed that t

[2021-11-30 23:34] mercxry opened #16 "Get on non-existent key returns wrong error"
Hello, when I try to get a non-existent key I receive this error: `Redis Error - kind: Parse, details: Cannot convert to number.`, but  I believe this is the wrong type of error for the triggered action.

## What I would expect
Since the Redis CLI returns `nil` maybe the library should just return an  `Option::None`, or a different kind of RedisError like `NotFound`.

Personally I think both solut

[2021-11-30 23:39] aembke commented on #16
Hi @mercxry

Can you include the code you're using to call `GET`? I'm curious what return type you're specifying for the output.

[2021-11-30 23:49] mercxry commented on #16
My bad, without type casting it was `i64`, but I just tried manually using `Option<i64>` and it returns `None` like I was expecting.

I don't know if it would fit in your design choices, but would it be possible to return a `NotFound` error in case the type it's not an `Option`?

[2021-11-30 23:50] aembke commented on #16
Actually reading this a bit more I think understand better what you're saying. I agree that the `Option<T>` scenario is unique in that if a caller specifies that a non-nullable type is returned, yet redis returns a `nil`, that this should handled differently than a "normal" parse error.

I'll look into this, this is good feedback.

[2021-11-30 23:52] mercxry commented on #16
Perfect! Let me know if you need help implementing it, I started using the library recently but I already prefer it over the other Redis libraries.

Thanks for the awesome work :)

[2021-12-01 03:41] aembke commented on #16
Thanks for the kind words @mercxry, I hope this library helps.

Just as a heads up, there's one type conversion implementation that might be somewhat controversial.

As it stands right now trying to cast a `nil` response from the server to a `String` will return an error, but I can see a somewhat compelling argument for maybe changing this to return `"nil"` (not an error) since on the surface that

[2021-12-01 04:35] dbstratta commented on #13
@aembke Thank you so much for your help!!! Good to know that fred isn't the problem here. I'll too try to slim down the repro to find the root cause and open an issue on the corresponding project. I'll link it here to let you know.

I don't remember getting it, but I'll pay attention to it next time.

[2021-12-01 05:01] aembke commented on #13
No problem. Feel free to tag me if you do open up an issue, and I'll do the same if I'm able to get a smaller repro working.

The first 2 issues since I open sourced this have been related to getting it to work with actix, and while I don't personally have a lot of experience with it I keep hearing great things. It was actually really interesting and compelling that you're able to spin up a non-tr

[2021-12-01 05:38] aembke commented on #16
I just shipped some changes in 4.2.3 that I think should help here.

Let me know if this matches your use case and if so I'll close this out.

Thanks for the good feedback @mercxry, getting a sense of real use cases like this is really helpful.

[2021-12-01 16:26] aembke commented on #13
I'm going to close this out in the meantime but feel free to add to this you learn more, and i'll do the same.

[2021-12-01 16:26] #13 closed

[2021-12-01 20:24] mercxry commented on #16
Awesome! I just tried the new version and the error kind shows up as `NotFound` when the type it's not an `Option<T>`, but I noticed that the details are the same of the `Parse` error kind: `Redis Error - kind: NotFound, details: Cannot convert nil to number.`

It should say something related to the `NotFound` error kind, something along the lines `Cannot find the specified key`, but for the new k

[2021-12-01 22:03] aembke commented on #16
Yeah I should have mentioned that in the last comment. I wanted to scope this change to just the error type variant since I'm in the middle of a major release (v5) that makes some drastic changes to errors and return values (RESP3 has value attributes, which are a big change to everything).

I'll include your feedback here re: error messages in the changes in that release, but for now I'm hoping t

[2021-12-01 22:03] aembke commented on #16
Just so I don't forget I'm going to leave this open with a feature request tag as well.

[2021-12-02 23:06] tsukit opened #18 "Different auth for sentinel and redis"
Hi. I saw in the example how to connect through sentinel. However, the example seems to rely on the same auth used for both sentinel and redis itself. My company sets it up such that the auth (i.e. username/password) between the two are different, for security purpose. Is there a way I can specific different auths for the two? Thanks!

[2021-12-03 01:38] aembke commented on #18
Hi @tsukit,

At the moment there isn't an easy way to do that, but I'll add a new feature to support that.

[2021-12-03 05:53] tsukit commented on #18
Thank you so much @aembke . Look forward to the enhancement.

[2021-12-03 19:00] aembke commented on #18
@tsukit this should go out today in 4.3.0 (https://github.com/aembke/fred.rs/pull/19)

[2021-12-05 18:20] aembke commented on #18
This is now on crates.io in [4.3.0](https://crates.io/crates/fred/4.3.0)

[2021-12-05 18:21] #14 closed

[2021-12-06 21:56] tsukit commented on #18
this is so awesome! Will give it a try soon.

[2021-12-10 02:35] tsukit commented on #18
@aembke I just gave it a try. The code compiled but it doesn't seem to pick up the password given in the sentinel configuration. Here's how my code looks like.
[code]
With the code above, I got this error message.
[code]
I'm pretty sure the passwords are correct as I manually validated it with `redis-client` and `auth` command - to both sentinel and redis nodes. I tried putting the sentinel passwo

[2021-12-10 16:20] aembke commented on #18
Ah ok yeah I just looked and it looks like I made some incorrect assumptions about how the test coverage here worked with respect to the sentinel auth, so it's not covering the new code as I had intended. My apologies that's a bad mistake. I'll take a look at this over the weekend and get a patch out for you next week.

[2021-12-11 18:30] tsukit commented on #18
No problem and thank you!

[2021-12-16 17:01] tsukit commented on #18
@aembke do you think this change will be available this week or the next? Thank you so much for your support.

[2021-12-20 00:44] aembke commented on #18
@tsukit This should be fixed in [4.3.1](https://crates.io/crates/fred/4.3.1). Apologize on the delay but the switch to CircleCI took longer than expected.

[2021-12-27 04:01] ConstBur opened #21 "Connection to Redis Cluster in Minikube"
Hello Alec, I have a problem connecting to a local Redis cluster created in Minikube. If the problem isn't on Fred's side let me know :)

The setup is relatively simple: there's a single LoadBalancer exposed via minikube tunnel that redirects to a cluster node, and the cluster itself isn't accessible from outside (so the nodes can only talk to each other and the load balancer). Here's the commands

[2021-12-27 04:08] ConstBur commented on #21
Here's the commands and Helm .yaml file I used if you'd like to replicate my setup:
[code]
[redis.yaml](https://github.com/aembke/fred.rs/files/7778273/redis.txt)

[2021-12-27 06:51] aembke commented on #21
Hi @ConstBur, thanks for the kind words. In my last couple roles my team and I had to spend a lot of long nights fighting Elasticache and I'm hoping this library helps people avoid some of those issues.

Regarding the issue you mentioned - a couple things jump out at me.

Can you try enabling trace logs (`RUST_LOG=fred=trace`)? I'm particularly interested in either of the log lines in this block:

[2021-12-27 07:51] aembke commented on #21
TLDR: I _think_ the issue is due to the IP addresses from the `CLUSTER NODES` response only being reachable from inside minikube (where the cluster is running).

In terms of fixing or working around it (in order of complexity):

1. Switch to a centralized server instead of a cluster inside minikube (this is what we do at work)
2. Write a script such that you can work outside minikube but build and

[2021-12-28 07:44] ConstBur commented on #21
Wow, that's a very detailed response, thank you very much!
I run minikube with Docker driver on Linux, but I guess that shouldn't matter for the network-related problems like this. Looks like your diagnosis is right, there seems to be no other reason why Fred can't connect to the cluster.

I've tried adding ```RUST_LOG=fred=trace``` to cargo run but strangely no tracing logs actually appeared. May

[2021-12-28 17:04] aembke commented on #21
Oh that's good news if you're using the docker driver on linux. You have much more control over how the networking is set up in that case. You could probably dockerize the build command you use and everything would likely work (assuming you run the docker command with the same network as your minikube cluster).

Regarding the logs issue - try adding `log` and `pretty_env_logger` to your toml, then

[2021-12-29 03:10] aembke commented on #21
@ConstBur I wrote two docs that will probably help answer some of your questions. They're currently on the `feat/resp3-support` branch, but should be in `main` within a week or so.

https://github.com/aembke/fred.rs/blob/feat/resp3-support/FAQ.md
https://github.com/aembke/fred.rs/blob/feat/resp3-support/tests/minikube.md

Also, I just went ahead and did the streams interface with this next release

[2021-12-29 07:14] ConstBur commented on #21
Holy crap, you explained everything like I'm 5 and in great detail at the same time! Alright, I'm definitely switching to a centralized server then since I can.

Logs now work, but not much interesting appears in them:
[code]

I'll close this issue then, everything's clear now. Can't wait for the next release!
Thanks very much again for the docs and streams! :)

[2021-12-29 07:14] #21 closed

[2022-01-05 15:49] khvzak opened #22 "fred (and redis-protocol) uses wrong assumption that keys are utf8"
Hello,
First of all thanks for the great library!

I just want to raise an issue about wrong assumption (and behaviour) that Redis keys are valid utf8 strings.
According the [Redis data types doc](https://redis.io/topics/data-types-intro)

Although in the `redis-protocol` library the function [`redis_keyslot`](https://docs.rs/redis-protocol/3.0.2/redis_protocol/fn.redis_keyslot.html) wrongly accep

[2022-01-05 22:32] tsukit commented on #18
Thank you so much! Appreciate it.

[2022-01-06 18:18] aembke commented on #22
Hi @khvzak,

You're absolutely right, and I completely forgot to reconcile the differences between the current `RedisKey` and underlying logic in `redis_protocol`. When I released 4.x I started fixing this issue (since prior to 4.x even `RedisKey` assumed UTF8 strings), but I never got around to fixing everything that used it like a string under the hood.

I'm in the middle of the next major versi

[2022-01-06 18:20] #18 closed

[2022-01-07 06:20] hideki opened #23 "Question: Is fred.rs a thread-safe?"
Thank you very much for developing and maintaining awesome Redis library. This is a question, not the bug report. I am wondering if fred.rs is a thread-safe?

[2022-01-07 15:10] aembke commented on #23
Hi @hideki,

Yes everything in Fred should be thread safe in that all of the public interface and types are at least `Send`, and the various client structs are all `Send + Sync`.

In the future I might add a new client struct that is not `Send` or `Sync` in order to take advantage of some performance improvements that depend on [LocalSet](https://docs.rs/tokio/0.2.4/tokio/task/struct.LocalSet.html

[2022-01-07 23:12] hideki commented on #23
@aembke I am glad to hear that fred.rs is thread safe, and thank you for detailed explanation!

[2022-01-07 23:12] #23 closed

[2022-01-08 12:42] khvzak commented on #22
sorry @aembke I didn't provide an example of panic caused by wrong bytex indexing inside a valid unicode string.
[code]
This code will trigger panic even with the latest redis-protocol v3.1.0 😞

Also wondering, would makes sence instead of creating two versions of the `redis_keyslot`, use a single generic form:
[code]
that accepts `&str` and `&[u8]`?

[2022-01-08 16:45] aembke commented on #22
Hi @khvzak,

Yeah you're right. I'm already in the middle of version 4.x of `redis-protocol` so I opted to do something quick and dirty for this for a few reasons.

The new version 4 of redis-protocol uses borrowed frames to avoid any copies of the underlying data, but the ergonomics of this are pretty bad when combined with the tokio `Decoder` interface. I've spent the last week or so trying to g

[2022-01-09 19:36] khvzak opened #24 "Stats values units are undocumented"
Hello,
I tried to use the `metrics` feature and paid attention that [`Stats`](https://docs.rs/fred/latest/fred/types/struct.Stats.html) struct used to get latency numbers has undocummented units.
I figured out that it's milliseconds after checking [the source code](https://github.com/aembke/fred.rs/blob/main/src/multiplexer/responses.rs#L39).
Just curious, maybe using the standard [`Duration`](htt

[2022-01-09 19:40] khvzak commented on #22
Thanks for the detailed explanation!

[2022-01-12 19:06] mkurtak opened #25 "Waiting for exec to return from server"
Hi,
I don't know if it's an intended behavior, but I ran into following situation:

Suppose you have 10ms latency to Redis. Every 5ms you application needs to run
[code]
I am using the following code to execute this sequence in fred:
[code]
I'd like to have a writer that executes this code, but waits for the response in a new tokio task every 5ms. This way there will be 2 running requests waiting

[2022-01-12 21:55] JamesPatrickGill opened #26 "`DynamicRedisPool` blocked on `wait_for_connect`"
## Description

I am attempting to use a dynamic pool in an actix web app (btw I am using a v4 beta so am on the correct tokio version) and my code hangs on `wat_for_connect` consistently. I know similar things have happened previously but as those were closed issues I started this one.

## Reproduction

To reproduce I am able to just run the code from the example here https://github.com/aembke/fr

[2022-01-12 22:57] aembke commented on #26
Hi @JamesPatrickGill,

Which fred version are you using? There was a bug related to this in versions < 4.2.2.

In the meantime I'll try your repro and see if I can come up with anything.

Also, out of curiosity, what is your use case for the dynamic pool? I spoke to a number of folks recently about this and heard pretty consistent feedback that the dynamic pool is not really useful due to not impl

[2022-01-12 23:00] aembke commented on #24
Hi @khvzak,

Good callout. I'll label the units in next version in the documentation (and probably the field names too).

[2022-01-12 23:14] JamesPatrickGill commented on #26
Hi @aembke. Thanks for getting back to me so quickly.

The version of fred is 4.3.1

Honestly I am in just experimenting and was just testing it out. For more context I am currently working on an actix4 web server using a [mobc](https://github.com/importcjj/mobc) pool to manage my redis connections but the provided redis implementation was a little out of date. When I went looking around and found

[2022-01-12 23:14] aembke commented on #25
Hi @mkurtak,

I'm not sure I fully understand the use case or how the redis latency comes into play, but maybe if you have a small snippet that illustrates what you're trying to do that might help.

That being said, I can maybe address your two bullet points:

This is intended since the server wont allow you to send a second MULTI before receiving an EXEC/DISCARD for the first anyways. With fred t

[2022-01-12 23:19] aembke commented on #25
Just to expand on the first part a bit more - fred waits for the EXEC response to come back before allowing another MULTI to avoid the following situation:

1. The caller starts a transaction.
2. The caller sends EXEC or DISCARD.
3. The caller sends MULTI to start a new transaction.
3. While the EXEC/DISCARD is in-flight to the server the connection dies.
4. The replay logic replays EXEC/DISCARD,

[2022-01-13 00:37] aembke commented on #26
Ah ok yeah that makes sense. I've seen a few cases where folks see the dynamic pool, they like the flexibility to scale it up or down, but when they go to actually use it they run into a bunch of ergonomics issues due to the lack of the `Deref` trait implementation.

While I don't want to leave any bugs in versions 4.x I'm about a week away from 5.0.0 coming out, so I might just table this if you'

[2022-01-14 10:37] mkurtak commented on #25
Hi @aembke,

I understand your point. We are migrating from javascript ioredis, which ends a transaction when exec is sent. We are using redis that has higher latency than the writer.

I am not sure how would LUA solve the issue. Do you suggest to install LUA script on server and then send commands calling functions from client? Does fred allow to have multiple LUA scripts in-flight?

I'll prepare

[2022-01-15 18:10] bin opened #27 "Hang in tokio multi-threaded runtime"
I suspect this may be some sort of deadlock issue, as this is resolved by running in a single-threaded runtime.  You will find minimum viable examples of the multi- and single-threaded behaviors at https://github.com/bin/fred_broken.git

[2022-01-15 21:04] aembke commented on #27
Hi @bin,

Good find. I took a look at this and I don't think it's a deadlock, but it is clearly a race condition.

I have a similar setup going in the `pipeline_test`, but with one key difference - i'm spawning a new task to run concurrent command there instead of in a single loop.

The `deadlock-detection` logic in parking lot hasn't picked anything up, and there should only be one lock in play i

[2022-01-15 21:15] aembke commented on #27
Yeah, that is the issue. It's not an issue of using the wrong `Ordering`, but I just had an `incr` line at the wrong location. I was able to patch this locally and I can no longer repro the issue.

I'll get a patch up for 4.x this weekend.

[2022-01-15 22:27] aembke commented on #26
@JamesPatrickGill it turns out this was just a broken example. When you call `connect` on the dynamic pool you need to `await` the response. I've updated the example in the soon-to-be-released 4.3.2,

[2022-01-15 22:28] #26 closed

[2022-01-15 22:29] JamesPatrickGill commented on #26
Thank you for getting back to me, I should have noticed that!

[2022-01-15 23:21] #27 closed

[2022-01-30 17:36] mkurtak commented on #25
Sorry @aembke I didn't have time to prepare the example, but I understand your point. Should I close the issue?

[2022-01-30 18:04] aembke commented on #25
@mkurtak I think I understand where you're coming from in that it's currently difficult with the current interface to synchronize transactions across different concurrent tokio tasks. Callers could do this with an async mutex, but that's pretty tedious.

I'm in the middle of the next major version at the moment so I have some flexibility to change the interface to make this easier. The client curr

[2022-01-31 10:38] mkurtak commented on #25
@aembke thanks for your help. Actually, the bigger problem is that there is no possibility to have multiple running transactions, so we will probably migrate to Lua.

I think having this feature would be nice, but since we will not use it, I don't want to push you in this direction.

[2022-01-31 18:24] aembke commented on #25
Sounds good. If `ioredis` allows for multiple concurrent transactions they must either be queueing commands up in memory before sending anything (with their own synchronization in the client), or they must be creating new connections on the fly. A transaction sets global state on the connection so callers can't use multiple transactions on the same connection at the same time.

Fred takes a differ

[2022-02-01 20:22] davlum opened #29 "Cluster Redis should reconnect to hosts other than those configured"
Great work btw!

When connecting to a Redis cluster, if it connects to a master node the connection will not update itself with the other nodes. If the master fails at this point the client will lose all connection as it did not update the `RedisInnerClient`. It seems as though `sync_cluster` is only called on `handle_connection_closed`.

I feel like this should be a fairly simple fix of adding a

[2022-02-01 21:38] aembke commented on #29
Hi @davlum

Thanks for the good callouts. I'll be linking to some code but I'll use the `feat/resp3-support` branch, since that's the foundation for the soon upcoming 5.0.0 major release.

You're right the parsing logic for CLUSTER NODES doesn't properly account for other flags in that section. That being said, I'm not sure how to best handle a situation where a node is marked as master, but in a

[2022-02-02 20:57] davlum commented on #29
Right so I did some more investigating, it does appear as though `RedisInnerClient` has other connections, it just seems to only try to connect to the failed master. I'm not sure why.

[2022-02-23 17:33] ConstBur opened #31 "Version 5"
Hello Alec, it's me again. I'd just like to thank you again for making this driver and for incredible help in my last issue ( #21 ). Fred is awesome, the best among Redis drivers I've encountered. Never thought that someone could make something better pretty much single-handedly than the teams/communities behind other drivers, especially the "official" one (https://github.com/mitsuhiko/redis-rs).

[2022-02-23 17:37] xxated commented on #31
I'd like to support fred too!

[2022-02-23 19:13] aembke commented on #31
Ah thank you both that is very kind of you to say. I don't have a patreon or anything, and as much as I appreciate the sentiment it's totally not necessary and I'm happy to continue working on this for free. I'm very fortunate in that my team uses this at Okta so I have access to financial and technical support from an awesome team there if needed.

Regarding version 5 - here's a mini state of the

[2022-02-23 21:05] ConstBur commented on #31
Thanks for another detailed response, those are some spicy release notes!

Really appreciate that you're willing to keep developing this regardless of the situation, that kind of dedication is rare nowadays. And happy to know that you've got Okta backing this up :smiley:

Me and @xxated are currently doing a project where we use both Rust and Redis for the first time. So while we'd really like to

[2022-02-23 23:27] aembke commented on #31
Yeah feel free to start using that branch. Everything works so far, the only caveat is that I may still change some of the streams interface if I find it too annoying to work with in the tests. A lot of the ergonomics changes I've made in the last few months have come about from actually using the interface in tests, realizing it's annoying, and then changing it to make the tests easier. Since I s

[2022-02-24 16:12] Alkeryn commented on #25
@aembke sorry for the bump but wouldn't it be possible to have a form of queue so that you can allow creating multiple transactions on different threads / tokio tasks, but it will make them wait for them to complete upon exec ?.
this way you don't have to fail tasks or implement some crazy waiting within them or make a form of lilo queue yourself.

the way it works right now the performance penali

[2022-02-24 16:18] aembke commented on #25
Yeah absolutely that's a good idea. This is good timing too because that'd be a breaking change to the transactions interface, but I'm planning on releasing a new major version soon.

The tradeoff with this approach is that you wont necessarily get immediate feedback on intermediate commands failing prior to the exec/discard. However, with this approach it would be quite a bit easier to do retry o

[2022-02-24 16:24] aembke commented on #25
The way I'll likely do this is to add a new interface (perhaps a `multi_buffer` function) that returns a modified version of a `TransactionClient` which will buffer commands in memory until EXEC or DISCARD is called. Following the EXEC the client would send all the commands, perhaps in one pipelined series of commands if configured by the caller.

Unfortunately this would require some pretty invas

[2022-02-27 20:53] aembke commented on #31
I'm going to close this for now but I'll tag both of you in the v5 release when it's ready.

[2022-02-27 20:53] #31 closed

[2022-03-01 15:06] aembke commented on #10
Now that actix has released 4.x I'm going to close this.

[2022-03-01 15:06] #10 closed

[2022-03-01 15:11] aembke commented on #29
Hey @davlum apologies for the delay getting back to you.

Thanks for the PR, I think I understand the issue better now. I'm working on a different branch now, and unfortunately it's pretty far off `main` at this point. I'll work these changes into the new branch and tag you in the changes when they're ready. Unfortunately the branches have diverged enough at this point that it's not really feasibl

[2022-03-01 16:00] aembke commented on #16
Just a heads up @mercxry - I've been doing some more thinking on this and I think I'm going to keep the current behavior from 4.x. This will keep the `NotFound` error kind variant, but will not change the error message.

The type conversion logic is used in several places (such as the `convert` function on `RedisValue`) where it may not make sense to return a message indicating that a key is not f

[2022-03-01 16:00] #16 closed

[2022-03-02 10:33] Alkeryn commented on #25
thanks man, take the time you need, i mean you are providing us with a great lib for free, i'm not gonna complain !
though one thing i'd really want too is manual pipelining, that'd be great ^^

[2022-03-03 15:16] Alkeryn commented on #25
@aembke here is an example case scenario where i'd have wanted to use manual pipelining.
users can like another users's profile, but to waste less trafic, i send them as an array of a hundred likes instead of doing a get request each time.

the array contains a list of userid to be liked.

so i end up doing a bunch of zadd in a row.
can't use multi key commands as it'll be clustered and putting th

[2022-03-03 18:39] Alkeryn commented on #25
thanks for all these detailed explications ! :)
you put a lot of time into writing it, even more so with the graphs and all ! :)

however i was just curious about something, for some reason running await in a for loop is slightly faster than running them all
without await then joining, i might try the join_all as well, i was just toying around.
but here is a sample of code :
[code]
[code]
do you h

[2022-03-03 18:50] aembke commented on #25
Hmm, that's interesting. Those should have the exact same behavior on the wire, but there might be some strangeness going on with the scheduler there. Under the hood each request uses a oneshot channel to respond to the caller, and I've seen some strange performance behavior there. Often it's not bad, and in many cases it's actually fast when I expect it to be slow and vice versa, but I was never

[2022-03-03 18:58] aembke commented on #25
If you have a jaeger (or whatever tracing vendor you prefer) setup going locally you could try turning on partial tracing to see the difference here too. That might help answer some of the questions. The [pipeline test](https://github.com/aembke/fred.rs/tree/main/bin/pipeline_test) code shows how to do this if you want to take some time to set that up.

[2022-03-04 21:47] tsukit opened #32 "Questions: Read selection strategy and failing replica node handling"
This is actually questions, not issues. I can't seem to find the info around this.

1) For reading, what's the reading strategy among replica nodes? Round-robin? Or something different? Can it be configured?

2) How does the `RedisClient` handle a failing replica node?

Thank you.
Ed

[2022-03-04 22:02] aembke commented on #32
So currently Fred doesn't use replica nodes at all. I have a big TODO in the code to handle this in the future, but for now the library ignores them.

There are some big gotchas with Redis and replicas due to the fact that replication is asynchronous, and for my purposes at least at work this is a problem. Redis recently added the WAIT command to deal with some of this, but frankly I'm not a fan o

[2022-03-04 22:30] aembke opened #33 "Documentation: Improve Documentation"
This library is pretty opinionated and should have better documentation on implementation details behind the following design decisions:

* Pipelining
* Connection management
* Retry
* Backpressure
* Cluster failure mode handling (how and when CLUSTER NODES is used)
* Read replica usage, or lack thereof

[2022-03-04 22:31] aembke commented on #33
Related to https://github.com/aembke/fred.rs/issues/32

[2022-03-04 23:45] tsukit commented on #32
Thanks so much @aembke  for the in-depth info! This is pretty help. Our internal clusters are currently sentinel-managed (soon to be running in cluster mode) and we use replicas to distribute reads as the most of the stacks we have are read heavy. When do you think will the ability to read from replicas (the the ability to handle its failure) be available? All ballpark estimate is highly appreciat

[2022-03-05 01:08] aembke commented on #32
So if you're using the sentinel interface the failover scenarios are handled today. The same for clusters assuming you're using some sort of management layer that can run the CLUSTER commands to promote a replica to a primary node such that it'll show up as a primary in subsequent CLUSTER NODES responses.

As far as sending reads to replicas without any failure taking place - that's probably a cou

[2022-03-07 18:19] tsukit commented on #32
Thanks @aembke. Look forward to having that support.

[2022-03-09 16:40] aembke commented on #32
Sounds good, when that's ready or nearing completion I'll tag you so you have a heads up. In the meantime I'm going to close this out and track this in a set of wiki pages that I'm working on for this repo.

[2022-03-09 16:40] #32 closed

[2022-03-10 12:09] fy2462 opened #34 "How to set a map value"
Hi all:

I want to set a map data with `RedisMap`

[code]

No error was found, but I can not get the key and value in Redis server also, what's happened, and how to do that?

[2022-03-10 15:20] aembke commented on #34
Ah I should do a better job documenting this, but `RedisMap` was built to be a NewType in order to support generic inputs on certain functions. It is designed to be used as an intermediate type so callers can use `HashMap` or `BTreeMap`, but it's rare for a caller to need to manually construct a `RedisMap` by hand.

In your case you can probably collapse that code into this:

[code]

But if you di

[2022-03-11 05:39] fy2462 commented on #34
The `hset` command seems what I want, Thanks.

[2022-03-11 05:44] fy2462 commented on #34
I found I can not set `Expiration` with `hset`, How to do that as `set` ?

[2022-03-11 07:38] #34 closed

[2022-03-14 14:12] #22 closed

[2022-03-14 14:13] aembke commented on #24
This should also be fixed in 5.0.0-beta.1 as well.

[2022-03-22 22:31] Dessix opened #36 "Mocking layer missing but still referenced in Cargo.toml"
The `mocks` feature still exists in Cargo.toml but is no longer present in the crate.

It's mentioned in [the prior repository's README.md](/azuqua/fred.rs/blob/master/README.md), and was located under `/src/mocks`, but has since been removed.

Two items to address:
- [ ] Remove the feature flag or mark it as something to be supported in the future
- [ ] Suggest an alternative method of testing fo

[2022-04-08 12:54] juanki03 opened #39 "How can I configure the server parameters?"
Hello! I need to create an instance of RedisClient with my own parameters. But I only see the default function. Where I can set up my host and port to RedisConfig?

Also, where i can set a new client name?

Thank you!

[2022-04-13 18:01] lamalex opened #40 "Creating connection hangs when connecting in clustered mode"
I am trying to connect to a redis cluster, running locally via docker with:
[code]
but it's just hanging a `wait_for_connect`. If I change to a single node and use `ServerConfig::new_centralized(settings.host, settings.port)` I am able to connect and issue commands.

[2022-04-14 15:13] aembke commented on #40
Hi @lamalex,

I _think_ I know what the issue is here (docker + clustered redis are subtle and somewhat complicated to use together), but before we go down that road would you mind running your code with `RUST_LOG=fred=trace` and sending the trace logs over? As long as you're not using the `network-logs` feature there wont be any sensitive info in the trace logs.

Just in case it is what I suspect

[2022-04-14 15:24] aembke commented on #39
Hi @juanki03,

There's a few ways to do this, but I would recommend checking out the [basic starter examples](https://github.com/aembke/fred.rs/blob/main/examples/basic.rs) to see the full config options.

However, you don't need to use every field there. You can also do something like this:

[code]

[2022-04-14 15:26] aembke commented on #29
Hi @davlum, I took in the key change in your PR and put it in 5.0.0-beta.1. If you have any further issues please let me know, but in the meantime I'm going to close this.

[2022-04-14 15:26] #29 closed

[2022-04-26 07:44] juanki03 commented on #39
Thank you! Another question @aembke :

How can I change the name of the client, which comes by default "fred-" ?

[2022-04-28 18:52] oscartbeaumont commented on #39
@aembke is there a way to convert a Redis connection URL into a `RedisConfig` struct. This would be very useful when loading the Redis configuration from environment variables without having to define a heap of different variables.

[2022-04-29 02:59] aembke commented on #39
@juanki03 you can use the `client_setname` function to do that.

@oscartbeaumont there isn't at the moment, but that's a great idea. I'm going to add that to the PR for 5.0.0 so it'll be available shortly.

[2022-04-29 03:03] oscartbeaumont commented on #39
Thanks!

[2022-05-03 01:55] aembke commented on #39
Closing this for the time being, but feel free to re-open if you have any more questions.

@oscartbeaumont the URL parsing changes are in the main branch now, which I'm planning on releasing shortly as 5.0.0.

[2022-05-03 01:55] #39 closed

[2022-05-03 01:56] aembke commented on #36
@Dessix this is in the main branch now and will be released as 5.0.0 shortly. I'm going to close this for now, but I'm planning on adding a wiki page for feature requests and I'll add the mocking layer to that list.

[2022-05-03 01:56] #33 closed

[2022-05-16 03:11] aembke commented on #25
I'm going to put a note about this in the TODO list and take a look at it for 5.1.0. in the meantime i'm going to close this for now, but feel free to reopen.

[2022-05-16 03:11] #25 closed

[2022-06-01 16:54] aembke commented on #40
Hey @lamalex, I'm going to close this for now but feel free to re-open it or start a discussion in the other tab if you have any issues with this setup. I've encountered this issue before in a few different languages and I'm most likely going to publish a doc on how to do it in a way that will save you some headaches down the road.

[2022-06-01 16:54] #40 closed

[2022-06-09 15:29] zackangelo opened #42 "Disable CLIENT SETNAME on connect"
Is there a way to disable the `CLIENT SETNAME` call during authentication?

Proxies like [twemproxy](https://github.com/twitter/twemproxy) don't support it.

[2022-06-09 16:54] aembke commented on #42
Oh interesting, I didn't know some proxies prevented that. I'll make a patch that can disable that this weekend, but currently I don't think there's a way to avoid it.

[2022-06-09 17:41] zackangelo commented on #42
If you have a high-level idea around how you'd like it implemented, I'm also happy to raise a PR.

[2022-06-13 10:24] gautam314e opened #43 "Upgrade redis-protocol and nom"
nom and redis-protocol needs to be upgraded to latest versions as they both internally uses bitvec which had breaking changes and are conflicting with other crates.

- https://github.com/aembke/redis-protocol.rs/issues/23

[2022-06-13 16:49] aembke commented on #43
Ok this should be fixed in 5.1.0 on crates.io, but let me know if you still see any issues around this.

[2022-06-13 16:50] aembke commented on #42
I added a feature flag `no-client-setname` in 5.1.0 for this. Let me know if that helps or if you still have any issues here.

[2022-06-13 16:50] #42 closed

[2022-06-17 02:38] rezmuh commented on #36
Hi @aembke i'm looking into this crate with a hope that there was a mock functionality built in. Given that this is removed now, what is the suggestion to mock Redis connections and some of the commands for testing purposes when using this library?

[2022-06-17 02:49] aembke commented on #36
Hi @rezmuh

Good question, but I don't have a great answer. I removed the mocking layer primarily because the Redis interface became huge and it didn't seem feasible to try to keep up with it on my own. You can always run redis with docker, or even leverage the testing scripts with this library if you'd like, but that would really only work with integration tests, and might be a hassle.

I've been

[2022-06-21 13:17] rezmuh commented on #36
Hi @aembke to be fair, as much as I would like to help by submitting the PR, I can't guarantee if time permits. But I am definitely willing to help where I can. I can give suggestions on which commands to mock as well (start with the basic is always good, right ;))

[2022-06-21 14:29] aembke commented on #36
No problem. I managed to get most of the plumbing and basic commands done this weekend, and I was really just hoping you wouldn't say "I need the streams interface" since that's far and away the most complicated to mock.

I've been going with an approach that is a little more involved, but I'm debating switching to a model closer to what you linked. The problem for me historically with mocking Red

[2022-06-22 03:18] rezmuh commented on #36
Oh no, i'm not doing any streams. I only use RedisPool and pubsub

[2022-06-22 14:49] aembke commented on #36
Ok great, that's pretty straightforward to implement. And one benefit of doing it the way I had started is that it'll also work with the `SubscriberClient` if you're using that.

[2022-08-10 22:22] yrashk opened #54 "Authentication failure in RESP3"
When trying to connect to a password-protected Redis instance using RESP3, I get the following error:

[code]

It works just fine if I turn off RESP3 and go back to RESP2.

I've devised a quick patch that seems to fix this problem by ensuring the client is authenticated before attempting to switch protocols:

[code]

After applying this patch, it works as intended. If this is deemed to be an appro

[2022-08-11 14:37] aembke commented on #54
Thanks for finding this @yrashk. I have a similar change on one of my working branches for the next major version, but it's diverged too much for me to just merge that. Feel free to make a PR, otherwise I can make one this weekend.

I'll most likely take this change, https://github.com/aembke/fred.rs/pull/53, and https://github.com/aembke/fred.rs/pull/51 and release them as 5.1.1 this weekend.

[2022-08-11 18:30] yrashk commented on #54
@aembke I sent PR #55 with my patch. Hoping to see 5.1.1 soon!

[2022-08-12 22:16] zombiezen opened #56 "Unable to reconnect to Redis Cluster in Kubernetes after cluster rollout"
Thanks for the library! We're trying to use this library in a server running in Kubernetes connecting to a Redis Cluster running in the same Kubernetes cluster. We're connecting to Redis using `redis-cluster://my-redis-cluster:6379` as the `RedisConfig` with a `RedisPool`.

We noticed that when we go to roll out a new version of the Redis deployment that our fred-using server will hang trying to s

[2022-08-15 16:56] aembke commented on #56
Yeah, good find @zombiezen. This is one of the reasons why the next release will be a major release. The changes necessary to the connection management plumbing are too invasive to do in a patch or minor release, but they're required to fix this issue.

I'm about halfway through those changes now, and my goal is to release them by the end of the month or shortly after.

[2022-08-15 17:00] aembke commented on #56
Out of curiosity - would you find it useful to override DNS resolution logic? I've been debating whether to expose an interface for doing this (similar to [hyper](https://docs.rs/hyper/latest/hyper/client/connect/struct.HttpConnector.html#method.new_with_resolver)).

[2022-08-15 18:17] zombiezen commented on #56
Thanks! LMK if there's anything else I can do to help in a fix. We have some workarounds for this, but it would definitely save us some operational headaches to have it addressed.

AFAIK we don't need anything fancy for DNS resolution logic: the OS-provided resolver is fine for us.

[2022-08-15 23:26] aembke commented on #56
Sounds good. This is definitely a use case I plan on supporting, and I'll keep you updated on the status of the fix.

[2022-08-24 09:06] neogenie opened #59 "Incorrect Cluster Failover Behavior"
The library behaves incorrectly in a Redis cluster failover scenario.

Reproduce scenario:

1. Run a Redis cluster in docker with failover
2. Connect to the cluster
3. Pause master container with data
4. Wait for the cluster failover mechanism sync the nodes and rehash slots
5. The library can no longer read and write data to the node, because reinitialization of slots and nodes does not occur. Th

[2022-08-28 02:15] tugtugtug opened #60 "Ping fails with SubscriberClient"
Ping seems to be failing with the SubscriberClient consistently with an error: "Could not convert multiple frames to RedisValue".
The stack seems to show the response is parsed as resp3, but the server AFAIK only supports resp2.

Environment:
redis_version:5.0.7

Logs:
2022-08-28 02:11:57.234867 [00d] [D] [connection]:0287 fred-JeHtXwyITZ: Read client ID: Resp2(Integer(82))
2022-08-28 02:12:57.236

[2022-09-01 13:45] aembke commented on #36
Hi @rezmuh,

I'm in the middle of some major refactoring for 6.0.0 to better support the mock interface, and then I'm planning on adding the mocking layer back in 6.1.0. Realistically that'll take a few weeks, but it's on the top of the list.

[2022-09-01 13:47] rezmuh commented on #36
nice. looking forward to it. :)

[2022-09-01 14:23] aembke commented on #60
Thanks for the comprehensive bug report @tugtugtug. I'll take a look at this in the next week or so.

[2022-09-01 14:42] aembke commented on #54
This is merged and released in 5.2.0. Thanks @yrashk.

[2022-09-01 14:42] #54 closed

[2022-09-01 15:52] birkmose opened #62 "Connection management issues"
Hi - Thank you for a great library!

We have been experiencing some connection management issues (including using latest version `5.2.0`).
Using fred as a redis client in a kubernetes cluster (redis is self-hosted in k8s) - if the redis instance is moved to another node, we end up in a corrupted state with connection management.

This can simply be reproduced doing `kubectl scale deploy/redis --re

[2022-09-01 16:28] aembke commented on #62
Hi @birkmose, thanks for the comprehensive bug report.

This seems related to https://github.com/aembke/fred.rs/issues/59, at least in terms of the underlying issue with the implementation. Unfortunately the fix to either is highly invasive, but that's what I've been working on for the last several weeks. Version 6 will fix both and I'm hoping to have that out in the next week or two.

Just as a h

[2022-09-02 07:10] birkmose commented on #62
Happy to help out!

[2022-09-06 07:32] neogenie commented on #59
Hi @aembke
Have a look, please
I've added the ability to manually internal cluster state re-sync and timeouts for basic operations

[2022-09-19 18:02] zombiezen commented on #56
Hey @aembke, any updates on this or any assistance we can provide? Not having this is causing us some grief in production.

[2022-09-21 02:25] aembke commented on #56
Yeah my apologies, getting back into it now. There's a couple PRs folks have submitted that I think are related to this. I'll take a look at the options and go with the fastest one that addresses this.

[2022-09-23 18:33] bodymindarts commented on #62
We are also running this library on a redis cluster running on k8s and ran into the same issue.

[2022-09-26 08:53] mkurtak commented on #60
I am not sure, but I think it's not possible to call `PING` in the connection that is already subscribed to some channel.

[2022-09-26 14:53] tugtugtug commented on #60
that is perfectly fine, please read redis documentation [here](https://redis.io/docs/manual/pubsub/), and I quote,
[code]

[2022-09-26 15:15] mkurtak commented on #60
@tugtugtug you are right. I missed that, sorry.

[2022-10-18 11:19] DDtKey commented on #62
@aembke is there any news/progress regarding the issue?

[2022-10-26 23:57] casret commented on #56
@zombiezen Curious if you have any workaround in production?

[2022-10-28 16:10] dragon-D opened #66 "Using RedisPool in actix-web fails"
[code]
Using RedisPoo in actix-web will prompt that method cannot be found, such an error

[code]

Running this before HttpServer::new works, but inside Request Handlers this error occurs

[2022-11-29 18:24] DDtKey commented on #62
Hey!
@aembke Thanks for the update, I've tried `6.0.0-beta.1` but it looks like the issue still exists 🤔

I receive `Timeout Error: Request timed out.` (if node was restarted for example or directly after cluster is got up), and for some reason I see `Skip reconnecting to x.x.x.x:port` in the logs:

[code]

Btw, one more issue (I can create new one on GH to separate scopes, but this topic looks ge

[2022-11-29 19:01] aembke commented on #62
Hey @DDtKey, thanks for checking on that so quickly. I'm about a day away from finishing my work on the cleanup branch and then was planning on diving into this one.

One quick thing - the changes you recommended around missing hash slots sound good and I'll get that in this version before I push it to crates.io.

Quick question - is the hostname you're using there a domain name or an IP address?

[2022-11-29 19:26] DDtKey commented on #62
Well, I reproduced it mostly by `docker-compose`, but with the similar behaviour regarding downscaling and scaling again.

So it was domain name.

[2022-11-30 00:04] aembke commented on #62
So this was a fun one. Just for kicks in case anybody was wondering - new tokio changed how `flush` works on a split socket so that it does nothing if there's no bytes sitting in the underlying buffer. This makes sense as an optimization but also means that it can't be used to test connectivity anymore. I could be wrong on when or where that change occurred with tokio, but the TLDR is that we can'

[2022-11-30 13:37] DDtKey commented on #62
Hey @aembke , thanks for your efforts!

However I'm still getting timeouts with the same use case, important to notice that the new logs show that the connection `is_working` and skipping re-connection.
[code]

But most interesting thing - it happens even after restarting not-related cluster node. I mean command is supposed to be directed to (for example) `node-1` (due to hash-distribution), I'm d

[2022-11-30 14:41] aembke commented on #62
Huh, that's interesting. There must be something different with our repros.  Can you include more of the trace logs from your repro? I suspect that the cluster may be promoting one of the other nodes to a primary while the first one is down. This can make it a bit tougher to follow what's going on, but the trace logs show the `CLUSTER SLOTS` response on each reconnection attempt which should help